.graph {
    height: 85vh;
    width: 100%;
  }

  .eh-handle {
    background-color: yellow;
  }

.drawer-open {
  width: 100%;
  /* Limits the width of the node graph to prevent nodes being dragged offscreen */
  padding-right: 350px;
}

.drawer-close {
  width: 100%;
}

.MuiDrawer-paper {
  /* Prevent drawer covering appbar */
  top: unset !important;
}
